/* SEZIONE 2: about me */
.abtme-container { 
    position: absolute;
    margin-top: 130px;
    width: 100%;
    height: 1800px;
}

.bg {
    position: absolute;
    width: 100%;
    height: 2000px;
    content: url(/imgs/sfondo/sfondo-abtme.jpg);
}



/* sottosezione 1b: tempo di lettura + titolo */
.tempoLettura {
    position: absolute;
    margin-top: 0px;
    margin-left: 40%;

    width: 400px;
    height: 50px;

    text-align: center;
    color: black;

    border-radius: 18px;
    background-color: #E9D985;
    box-shadow: 0 10px 20px black;
}

.tempoLettura:hover {
    background-color: black;
    color: #E9D985;
    box-shadow: 0 5px 10px #E9D985;

    transition: 0.5s ease-in-out;
}

.tempoLettura:not(:hover) {
    background-color: #E9D985;
    color: black;
    box-shadow: 0 5px 10px black;

    transition: 0.5s ease;
}

.tempoLettura p {
    margin-top: 10px;

    font-family: 'Roboto Mono', monospace;
    font-size: 1.4rem;
    font-weight: 500;

    cursor: default;
}

.abtme-title {
    margin-left: 31%;
    margin-top: 7%;

    color: white;
}

.abtme-title p{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 7.5rem;
}

/* sottosezione 2b: 1° paragrafo */
.paragrafo1-container {
    display: flex;
    margin-top: 40px;
    height: 550px;
}

.paragrafo1-item {
    position: relative;
    margin-left: 140px;
    width: 550px;
    height: 550px;

    background-color: #121212;
    border-radius: 25px;
    border-top: solid 1px #ffec8d;
    border-left: solid 2px #ffec8d;
    box-shadow: 10px 10px 10px black;
}

.paragrafo1-spazio {
    margin: auto;
    margin-top: 35px;
    width: 490px;
    height: 480px;

    color: white;
}

.rocket-img {
    position: absolute;
    top: 20px;
    right: 60px;
    width: 100px;
    height: 100px;

    background: url(/imgs/paragrafi/rocket.png);
    background-position: center;
    background-size: contain;
    background-blend-mode: multiply;
}

.paragrafo1-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 220px;
    height: 60px;

    font-family: 'Cuprum', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.paragrafo1 {
    margin-top: 50px;

    font-family: 'Philosopher', sans-serif;
    font-size: 1.26rem;

}

.linguaggi {
    color: #439A86; 
    font-size: 1.35rem;
}

.scuola {
    color: rgb(69, 144, 209);
}

.paragrafo1-imgs {
    margin-left: 240px;
    width: 750px;
    height: 550px;

    content: url(/imgs/paragrafi/scuola.jpeg);

    border-radius: 20px;
    box-shadow: -10px 10px 10px black;
}

.paragrafo1-imgs:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.paragrafo1-imgs:not(:hover) {
    transform: scale(1);
    transition: 0.4s;
}

/* sottosezione 3b: 2° paragrafo */
.paragrafo2-container {
    display: flex;
    margin-top: 150px;
    height: 550px;
}

.paragrafo2-item {
    position: relative;
    margin-left: 240px;
    width: 550px;
    height: 550px;

    background-color: #121212;
    border-radius: 25px;
    border-top: solid 1px #ffec8d;
    border-left: solid 2px #ffec8d;
    box-shadow: 10px 10px 10px black;
}

.paragrafo2-spazio {
    margin: auto;
    margin-top: 35px;
    width: 490px;
    height: 480px;

    color: white;
}

.img {
    position: absolute;
    top: 20px;
    right: 60px;
    width: 100px;
    height: 100px;

    background: url(/imgs/paragrafi/code.png);
    background-position: center;
    background-size: contain;
    background-blend-mode: multiply;
}

.paragrafo2-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 60px;

    font-family: 'Cuprum', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.paragrafo2 {
    margin-top: 50px;

    font-family: 'Philosopher', sans-serif;
    font-size: 1.26rem;
}

.hobby-title {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.8rem;
}

.paragrafo2-imgs {
    margin-left: 140px;
    width: 750px;
    height: 550px;

    content: url(/imgs/paragrafi/pc.jpg);

    border-radius: 20px;
    box-shadow: -10px 10px 10px black;
}

.paragrafo2-imgs:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.paragrafo2-imgs:not(:hover) {
    transform: scale(1);
    transition: 0.4s;
}