/* SEZIONE 1: skills */
.skills-container {
    position: absolute;
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 90vh;

    background-image: url(/imgs/sfondo/black-wall.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 20px 10px black;
}

.bg-skills {
    margin-top: 145px;
    width: 860px;
    height: 650px;

    content: url(/imgs/sfondo/sfondo-skills.jpg);
    
    border-radius: 20px;
    box-shadow: 0 0 15px 10px black;
}

.skills-title {
    position: absolute;
    top: 0;
    margin-top: 2vh;

    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 7.5rem;
    color: white;
}

.skills-hr {
    margin: auto;

    width: 200px;
    color: white;
}

.skills-buone {
    position: absolute;
    margin-top: 145px;
    left: 2%;
    width: 400px;
    height: 600px;

    background-color: #131313;  
    border-radius: 10px;
    border-top: solid 1px #ffec8d;
    border-left: solid 2px #ffec8d;
    box-shadow: -10px 10px 20px 5px black;
}

.skillsItem-title {
    margin-top: 40px;
    text-align: center;

    font-family: 'Cuprum', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 3px;
    color: white;
}

.skills-items {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.skills-span {
    width: 50px;
}

#skill {
    width: 100px;
    height: 100px;
}

#skill:hover {
    transform: scale(1.25);
    transition: 0.4s;
}

#skill:not(:hover) {
    transform: scale(1);
    transition: 0.4s;
}

.skills-discrete {
    position: absolute;
    margin-top: 145px;
    right: 2%;
    width: 400px;
    height: 600px;

    background-color: #131313;  
    border-radius: 10px;
    border-top: solid 1px #ffec8d;
    border-right: solid 2px #ffec8d;
    box-shadow: 10px 10px 20px 5px black;
}

.html {
    content: url(/imgs/linguaggi/html.png);
}

.css {
    content: url(/imgs/linguaggi/css.png);
}

.js {
    width: 100px;
    height: 100px;

    content: url(/imgs/linguaggi/js.png);
}

.PHP {
    content: url(/imgs/linguaggi/php.png);
}

.MySQL {
    content: url(/imgs/linguaggi/mysql.png);
}

.java {
    content: url(/imgs/linguaggi/java.png);
}

.python {
    content: url(/imgs/linguaggi/python.png);
}

.cpp {
    content: url(/imgs/linguaggi/c++.png);
}

.solidity {
    content: url(/imgs/linguaggi/solidity.png);
    background-color: white;
    border-radius: 50%;
}

.otherSkills-container {
    position: absolute;
    top: 0; 
    margin-top: 100vh; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 84vh;

    background-color: beige;
    border: solid 2px white;
}

.os-container {
    width: 700px;
    height: 84vh;

    border: solid 2px black;
}

.span-otherSkills {
    width: 130px;
}

.softSkills-container {
    width: 700px;
    height: 84vh;

    border: solid 2px black;
}

.os {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 15px;

    width: 700px;
    height: 230px;
}

.windows {
    width: 200px;
    height: 200px;

    content: url(/imgs/os/windows.png);

    background-color: #111111;
    border-radius: 15px;
    box-shadow: 0 0 30px 10px black;
}

.linux {
    width: 200px;
    height: 200px;

    content: url(/imgs/os/linux.png);

    background-color: #111111;
    border-radius: 15px;
    box-shadow: 0 0 30px 10px black;
}

.os-p {
    margin: auto;
    width: 80%;

    font-family: 'Philosopher', sans-serif;
    font-size: 1.26rem;
}

.studio-allenamento {
    margin-top: 20px;
    height: 425px;

    border: solid 2px black;
}

.studio-allenamento p {
    margin: auto;
    width: 80%;

    font-family: 'Philosopher', sans-serif;
    font-size: 1.26rem;
}