/* SEZIONE 1: skills */
.skills-container {
    position: absolute;
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 90vh;

    background-image: url(/imgs/sfondo/black-wall.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 20px 10px black;
}

.bg-skills {
    margin-top: 145px;
    width: 860px;
    height: 650px;

    content: url(/imgs/sfondo/sfondo-skills.jpg);
    
    border-radius: 20px;
    box-shadow: 0 0 15px 10px black;
}

.skills-title {
    position: absolute;
    top: 0;
    margin-top: 2vh;

    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 7.5rem;
    color: white;
}

.skills-hr {
    margin: auto;

    width: 200px;
    color: white;
}

.skills-buone {
    position: absolute;
    margin-top: 145px;
    left: 2%;
    width: 400px;
    height: 600px;

    background-color: #131313;  
    border-radius: 10px;
    border-top: solid 1px #ffec8d;
    border-left: solid 2px #ffec8d;
    box-shadow: -10px 10px 20px 5px black;
}

.skillsItem-title {
    margin-top: 40px;
    text-align: center;

    font-family: 'Cuprum', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 3px;
    color: white;
}

.skills-items {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.skills-span {
    width: 50px;
}

#skill {
    width: 100px;
    height: 100px;
}

#skill:hover {
    transform: scale(1.25);
    transition: 0.4s;
}

#skill:not(:hover) {
    transform: scale(1);
    transition: 0.4s;
}

.skills-discrete {
    position: absolute;
    margin-top: 145px;
    right: 2%;
    width: 400px;
    height: 600px;

    background-color: #131313;  
    border-radius: 10px;
    border-top: solid 1px #ffec8d;
    border-right: solid 2px #ffec8d;
    box-shadow: 10px 10px 20px 5px black;
}

.html {
    content: url(/imgs/linguaggi/html.png);
}

.css {
    content: url(/imgs/linguaggi/css.png);
}

.js {
    width: 100px;
    height: 100px;

    content: url(/imgs/linguaggi/js.png);
}

.PHP {
    content: url(/imgs/linguaggi/php.png);
}

.MySQL {
    content: url(/imgs/linguaggi/mysql.png);
}

.java {
    content: url(/imgs/linguaggi/java.png);
}

.python {
    content: url(/imgs/linguaggi/python.png);
}

.cpp {
    content: url(/imgs/linguaggi/c++.png);
}

.solidity {
    content: url(/imgs/linguaggi/solidity.png);
    background-color: white;
    border-radius: 50%;
}

.otherSkills-container {
    position: absolute;
    top: 0; 
    margin-top: 100vh; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 84vh;

    background-color: beige;
}

.os-container {
    width: 700px;
    height: 84vh;
}

.span-otherSkills {
    width: 60px;
}

.hr-otherSkills {
    position: absolute;
    left: 45%;

    width: 1px;
    height: 700px;

    background-color: black;
}

.os {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 15px;

    width: 700px;
    height: 230px;
}

.windows {
    width: 200px;
    height: 200px;

    content: url(/imgs/os/windows.png);

    background-color: #111111;
    border-radius: 15px;
    box-shadow: 0 0 30px 10px black;
}

.linux {
    width: 200px;
    height: 200px;

    content: url(/imgs/os/linux.png);

    background-color: #111111;
    border-radius: 15px;
    box-shadow: 0 0 30px 10px black;
}

.os-p {
    margin: auto;
    width: 80%;
    
    font-family: 'Philosopher', sans-serif;
    font-size: 1.26rem;
}

.studio-allenamento {
    margin-top: 20px;
    height: 425px;
}

.studio-allenamento p {
    margin: auto;
    width: 80%;

    font-family: 'Philosopher', sans-serif;
    font-size: 1.26rem;
}

.posti-allenamento {
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 140px;
}

#img-allenamento1 {
    width: 250px;
}

#img-allenamento2 {
    width: 150px;
}

#img-allenamento3 {
    width: 120px;
    font-size: 70px;
    z-index: 1;
}

#img-allenamento4 {
    width: 200px;
    z-index: 1;
}

.softSkills-container {
    position: relative;
    width: 800px;
    height: 84vh;
}

.softSkills-main{
    position: absolute;
    margin-top: 60px;
    width: 800px;
    height: 700px;

    background-color: #131313;
    border-radius: 15px;
}

.img-softSkills {
    position: absolute;
    right: 0;
    width: 570px;
    height: 480px;

    border-top-right-radius: 15px;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
}

.softSkills-parolechiave {
    position: absolute;
    margin-left: 13px;
    margin-top: 10px;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 200px;
    height: 470px;
}

.parole-chiave {
    margin-top: 35px;
    width: 190px;
    height: 45px;
    
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    font-weight: bold;

    cursor: pointer;
}

#word1 {
    --color: rgb(84, 107, 255);
    color: var(--color);

    background-color: transparent;
    border: solid 2px var(--color);
}

#word1:hover {
    background-color: var(--color);
    color: #131313;
    transition: 0.3s;
}

#word1:not(:hover) {
    background-color: transparent;
    color: var(--color);
    transition: 0.3s;
}

#word2 {
    --color: rgb(255, 227, 100);
    color: var(--color);

    background-color: transparent;
    border: solid 2px var(--color);
}

#word2:hover {
    background-color: var(--color);
    color: #131313;
    transition: 0.3s;
}

#word2:not(:hover) {
    background-color: transparent;
    color: var(--color);
    transition: 0.3s;
}

#word3 {
    --color: rgb(134, 255, 100);
    color: var(--color);

    background-color: transparent;
    border: solid 2px var(--color);
}

#word3:hover {
    background-color: var(--color);
    color: #131313;
    transition: 0.3s;
}

#word3:not(:hover) {
    background-color: transparent;
    color: var(--color);
    transition: 0.3s;
}

#word4 {
    --color: rgb(255, 100, 100);
    color: var(--color);

    background-color: transparent;
    border: solid 2px var(--color);
}

#word4:hover {
    background-color: var(--color);
    color: #131313;
    transition: 0.3s;
}

#word4:not(:hover) {
    background-color: transparent;
    color: var(--color);
    transition: 0.3s;
}

.softSkills-didascaliaContainer {
    position: absolute;
    margin-left: 20px;
    margin-bottom: 20px;   
    bottom: 0;
    width: 754px;
    height: 175px;
}

.softSkills-didascalia {
    position: absolute; 
    width: 560px;
    height: 175px;
    
}

.riempi-spazio {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 468px;

    z-index: 0;
    background-color: beige;
}